.hero{
    background-color: #C8EBFF;
    align-items: center;
    height: 700px;
    .hero-girl{
        height: 700px;
        img{
            height: 100%;
        }
    }
    .hero-content{
        span{
            color: #2577fd;
        }
        h1{
            font-size: 100px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .hero{
        .hero-girl{
            display: none;
        }
.hero-content{
    h1{
        font-size: 40px;
    }
}
       
    }

}